/*
  Styling notes:
  - yellow is primary color
  - red is secondary color
  - white is ternary color
*/

body {
    /* avoiding any weird margins on the sides*/
    margin: 0;
    padding: 0;
}

/* general elements */
a {
    color: #124559;
}

/* navbar styling */
.navbar{
    background-color: #eff6e0;
    height: 5rem; /* keep uniform vertical height for navbar */
    width: 100%; /*full width of screen*/
    border-bottom: .1em solid #aec3b0;
}

.navbar > a > img {
    display: inline-block;
    vertical-align: top;
    width: 13rem;
    height: 5rem;
}

.menu {
    /* navbar elements should be vertically centered in navbar and approximately as far from right as logo text is from left*/
    float: right;
    margin: 1.75rem 0 20px 0;
    padding-right: 10px;
    text-align: center;
}

.menu > li {
    /* collapse list to have items act as inline elements */
    display: inline;
    list-style-type: none;
}

.menu > li > a {
    font-size: 1.5rem; /* font size should be about aligned with text in logo */
    padding: 1.15rem; /* pad items here so li inherits the size for background changes */
}

.menu > li > a:hover {
    background: white; /* set background of links to make it easy to see which one is chosen */
}

/* 'deactivate currently visited link ' */
#navLinkVisited {
    color: gray;
}

#navLinkVisited:hover {
    background: none;
}

.menu-checkbox {
    display: none;
}

/* small screen, navbar likely can't fit horizontally */
@media only screen and (max-width: 800px) {
    body {
    }

    .menu {
        display: none;
        padding: 0;
        right: 0;
        background-color: #eff6e0;
        margin: 0;
        z-index: 1;
        width: 100vw;
    }

    .menu-checkbox {
        display: inline;
        float: right;
    }

    .menu-checkbox:checked + .menu {
        display: block;
    }

    .menu > li {
        display: block;
        list-style-type: circle;
        text-align: center;
        border-bottom: .1em solid #aec3b0;
    }
}

/* in between navbar and footer styling */
#page-container{
    /* let content 'take up a page', such that footer is always on the bottom */
    position: relative;
    min-height: calc(100vh - 10rem); /* total viewport height - (navbar height + footer height) */
}

.page-contents {
    margin: auto;
    width: 90%;
    font-size: 1em;
}

.half-vertical-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.half-vertical {
    padding: 1%;
    width: 48%;
}

.half-vertical:nth-child(2) {
    box-sizing: border-box;
    border-left: 1px solid black;
}

/* custom defined elements */
.title{
    color: #124559 ;
    font-family: Trebuchet MS;
    font-size: 4rem;
    padding: 2% 0 0 0;
    text-align: center;
    text-shadow:2px 3px 2px #598392;
}

#border{
    background:#FAFAFA;
    border: 10px solid #fff;
    box-shadow:0px 9px 10px #cdcdcd;
    font-size: 2rem;
    height: 520px;
    margin: 3% auto;
    overflow: auto;
    width: 90vw;
    z-index:1;
}

#border2{
    background:#a2e3f7;
    border: 10px solid rgb(0, 0, 0);
    padding: 15px;
    box-shadow:0px 9px 10px #cdcdcd;
    font-size: 2rem;
    height: 1000px;
    margin: 3% auto;
    overflow: auto;
    width: 90vw;
    z-index:1;
}

#border3{
    background:#a2e3f7;
    border: 10px solid rgb(0, 0, 0);
    padding: 15px;
    box-shadow:0px 9px 10px #cdcdcd;
    font-size: 25px;
    height: 600px;
    margin: 3% auto;
    overflow: auto;
    width: 90vw;
    z-index:1;
    font-family: arial;
}

/* resize article and resources border on mobile */
@media only screen and (max-width: 800px) {
    #border{
        height: 600px;
    }
}

/* footer styling */
.footer{
    background-color: gray; /* a lighter dark color makes sense for footer */
    color: white; /* yellow isn't great for the text, white has good contrast*/
    font-size: 1.5rem; /* font size should be the same as nav links */
    height: 5rem; /* keep uniform vertical height for footer */
    position: relative;
    width: 100%; /*full width of screen*/
}

.footer > p {
    /* aesthetically align the text somewhat horizontally and vertically centered */
    position: absolute;
    top: 23%;
    left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
}
