/*
  Styling notes:
  - yellow is primary color
  - red is secondary color
  - white is ternary color
*/

body {
    /* avoiding any weird margins on the sides*/
    margin: 0;
    padding: 0;
}

/* general elements */
a {
    color: red;
}

/* navbar styling */
.navbar{
    background-color: yellow;
    height: 5rem; /* keep uniform vertical height for navbar */
    width: 100%; /*full width of screen*/
}

.navbar > a > img {
    display: inline-block;
    vertical-align: top;
    width: 13rem;
    height: 5rem;
}

.navbar > ul {
    /* navbar elements should be vertically centered in navbar and approximately as far from right as logo text is from left*/
    float: right;
    margin: 1.75rem 0 20px 0;
    padding-right: 10px;
    text-align: center;
}

.navbar > ul > li {
    /* collapse list to have items act as inline elements */
    display: inline;
    list-style-type: none;
}

.navbar > ul > li > a {
    font-size: 1.5rem; /* font size should be about aligned with text in logo */
    padding: 1.15rem; /* pad items here so li inherits the size for background changes */
}

.navbar > ul > li > a:hover {
    background: white; /* set background of links to make it easy to see which one is chosen */
}

/* custom defined elements */
.title{
    color:#58ACFA;
    font-family:Trebuchet MS;
    font-size:75px;
    padding-bottom: 30px;
    text-align: center;
    text-shadow:2px 3px 2px #FE2E2E;
    z-index:999;
}

#border{
    background:#FAFAFA;
    border: 10px solid #fff;
    box-shadow:0px 9px 10px #cdcdcd;
    font-size: 35px;
    height: 520px;
    margin: 0 auto;
    width: 85%;
    z-index:1;
}
