/*
  Styling notes:
  - theme is a combination of yellow as primary and red as secondary
*/

body {
    /* avoiding any weird margins on the sides*/
    margin: 0;
    padding: 0;
}

/* general elements */
a {
    color: red;
}

/* navbar code */
.navbar{
    width: 100%; /*full width of screen*/
    height: 5rem; /* keep uniform vertical height for navbar */
    background-color: yellow;
}

.navbar > a > img {
    display: inline-block;
    vertical-align: top;
    width: 13rem;
    height: 5rem;
    margin-right: 20rem;
}

.navbar > ul {
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-right: 2.5rem;
    margin-left: 0rem;
    text-align: center;
    float: right;
}

.navbar > ul > li {
    list-style-type: none;
    display: inline;
}

.navbar > ul > li > a {
    padding: 1.15rem;
    font-size: 1.5rem;
}

.navbar > ul > li > a:hover {
    background: white;
}
